html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(180deg, #7f5aa3 0%, #441e6b 100%);
    color: #fff;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

#title {
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}

#input-output-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 90%;
    margin: 0 auto;
}

#input-div,
#output-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-output-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

.arrow {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    transition: transform 0.3s ease;
}

.file-input-wrapper {
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    background-color: #fff;
    color: #441e6b;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-input-wrapper:hover {
    background-color: #d8eaff;
}

.file-input-wrapper input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

.file-input-wrapper label {
    display: block;
    text-align: center;
    font-size: 1rem;
}

#error-message {
    background-color: #ffcccc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    display: none;
    color: red;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 768px) {
    .input-output-img {
        width: 250px;
        height: 250px;
    }

    #input-output-div {
        flex-direction: column;
        align-items: center;
    }

    .arrow {
        margin: 10px 0;
        transform: rotate(90deg);
    }
}

@media (max-width: 480px) {
    #title {
        font-size: 2rem;
    }

    .input-output-img {
        width: 200px;
        height: 200px;
    }
}